<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TutorialsNinja Suite">
    <listeners>
        <listener class-name="com.tutorialsninja.config.listeners.listeners"></listener>
    </listeners>
    <test name="TutorialsNinja Tests">
        <classes>
            <class name="com.tutorialsninja.tests.pack.LoginTest"/>
            <class name="com.tutorialsninja.tests.pack.RegisterTest"/>
            <class name="com.tutorialsninja.tests.pack.SearchTest"/>
        </classes>
    </test> <!-- Test -->

</suite> <!-- Suite -->